:root {
  --comp-bg-color: blue;
  
  /* http://blog.visme.co/website-color-schemes/ */
  /* --main-bg-color:#2c3531;
  --color-one: #116466;
  --color-two: #c9b08c;
  --color-three: #ffcb9a;
  --color-four: #d1e8e2;
  --color-f1: rgb(9, 236, 236); */


  --radius: 15px;
}


.App {
  /* text-align: center; */
  /* justify-content: center; */
  /* align-content: center; */  

  /* display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  
  grid-template-areas: 
    "header header header"
    "purpose purpose purpose"
    "task task task"
    "content-1 content-2 content-3"
    "presenter-1 presenter-2 presenter-3"
    "footer footer footer" */

}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  /* height: 80px; */
}

.App-header {
  /* background-color: var(--color-one); */
  /* height: 150px; */
  /* padding: 20px; */
  /* align-content: left; */
  /* color: rgb(9, 236, 236); */
  /* grid-area: header; */
  
}

.App-title {
  /* font-size: 1.5em; */
}

.App-intro {
  font-size: large;
  color: lightgray;
  /* padding: 10px; */
  /* height: 75px; */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
  
    
  
/* My code starts here */
body {
  /* margin: 0 auto; */
  /* max-width: auto; */
  /* padding: 10px 10px; */
  background-color: var(--main-bg-color);

}

.App-header {
  /* height: 150px; */
  border-radius: var(--radius);
  background-color: var(--color-one);  
  color: rgb(9, 236, 236);
  grid-area: header;
  
}

.App-header, .top {
  /* background: beige; */
  /* justify-items: center; */
  /* justify-content: center; */
  text-align: center;

}

.App-intro {
  grid-area: purpose;
}




.containerMain {
  
  /* Grid Fallback */
  /* display: flex; */
  /* flex-wrap: wrap; */
  
  /* Supports Grid */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-auto-rows: minmax(150px, auto); */
  grid-gap: 20px;
  grid-column: content-1 / content-3;
  
  /* Demo-Specific Styles */
  /* background: #eaeaea; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* height: 500px; */
  
  /* My added code */
  /* height: 700px; */
  /* grid-gap: 20px; */
  /* grid-template-columns: 1fr 1fr 1fr; */

  /* Flex Fallback */
  /* margin-left: 5px; */
  /* margin-right: 5px; */
  /* flex: 1 1 200px; */


  
}

/* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
  .module {
    /* margin: 0; */
  }
}


.App-intro,
.assignment,
.growth, 
.career, 
.web,
.presenter {
  /* background-color: var(--color-three); */
  border-radius: var(--radius);
  text-align: center;
  
  /* margin: 10px 10px; */
}

.assignment {
  background-color: var(--color-four);
  border-radius: var(--radius);
  /* height: 150; */
  /* padding: 1px; */
  grid-area: task;
}

.growth {
  grid-area: content-1;
  background-color: var(--color-three);
  
}

.career {
  grid-area: content-2;
  background-color: var(--color-three);
  
}

.web {
  grid-area: content-3;
  background-color: var(--color-three);
  
}

.presenter {
  background-color: var(--color-three);
  
}
.presenter1 {
  grid-area: presenter-1;
}

.presenter2 {
  grid-area: presenter-2;
}

.presenter3 {
  grid-area: presenter-3;
}

.footer {
  grid-area: footer;
  color: grey;
  text-align: center;
  /* justify-items: center; */
  /* align-items: center; */
}

ul {
  padding-left: 10px;
  margin: 5px;
}

li {
padding-bottom: 25px;
}

.item, .App-header h1 {
  text-align: center;
  /* background-color: skyblue; */
  border-radius: 15px;
  /* margin-bottom: 30px; */
}

a:link {
  color: var(--main-bg-color);
  text-decoration: none;
}
a:hover {
  color: var(--color-f1);
}

h3 {
  /* text-decoration: underline; */
  color: var(--color-three);
  padding: 0;
  margin: 0;
}

header h2 {
  font-style: italic;
}

header h5 {
  color: rgb(180, 176, 176);
}
            