:root {
  color: #fff;
  background: #4a90e2;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
/* background-color: aquamarine */
/* font-family: Comfortaa
	font-size: 14px
	font-style: normal
	font-variant: normal
	font-weight: 500
	line-height: 15.4px */
}
p {
/* font-style: light; */
  margin: 5px;
}
h1 {
/* Headline 1: */
  opacity: 0.87;
  font-family: 'PT Sans', sans-serif;
  font-size: 96px;
  letter-spacing: -1.5px;
  text-align: left;
  margin: 0;
  padding: 0;
}
h2 {
/* Headline 2: */
  opacity: 0.87;
  font-family: 'PT Sans', sans-serif;
  font-size: 60px;
  letter-spacing: -0.5px;
  text-align: left;
  margin: 0;
  padding: 0;
}
h3 {
/* Headline 3: */
  opacity: 0.87;
  font-family: 'PT Sans', sans-serif;
  font-size: 48px;
  text-align: left;
}
h4 {
/* Headline 4: */
  opacity: 0.87;
  font-family: 'PT Sans', sans-serif;
  font-size: 34px;
  letter-spacing: 0.25px;
  text-align: left;
  padding: 10px;
  margin: 0px;
}
h5 {
/* Headline 5: */
  opacity: 0.87;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  padding: 5px;
  margin: 0px;
}
h6 {
/* Headline 6: */
  opacity: 0.87;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 0.15px;
  padding: 2px;
  margin: 0px;
}
.subtitleOne {
/* Subtitle 1: */
  opacity: 0.87;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0.15px;
  text-align: left;
  line-height: 24px;
}
.subtitleTwo {
/* Subtitle 2: */
  opacity: 0.87;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 0.1px;
  text-align: left;
  line-height: 24px;
}
.bodyOne {
/* Body 1: */
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0.44px;
  text-align: left;
  line-height: 28px;
  padding: 0px 5px;
}
.bodyTwo {
/* Body 2: */
  opacity: 0.87;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 0.25px;
  text-align: left;
  line-height: 20px;
}
.button {
/* Button: */
  opacity: 0.87;
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
button {
  border: 2px solid #1d3966;
  border-radius: 42px;
  color: #d1c8d4;
  background-color: #4a90e2;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
button:hover {
  background-color: #1d3966;
}
.styledLink {
  border: 2px solid #1d3966;
  border-radius: 42px;
  color: #d1c8d4;
  background-color: #4a90e2;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.styledLink:hover {
  background-color: #1d3966;
}
.ovalButton {
  border-radius: 50%;
  border: none;
  width: 100px;
  height: 100px;
  margin: 0px;
  padding: 5px;
}
.ovalButton1 {
  background: #ee8914;
  color: #fff;
  position: absolute;
  z-index: 2;
  top: 45%;
  left: 55%;
}
.ovalButton2 {
  background: #96ee14;
  color: #fff;
  position: absolute;
  z-index: 2;
  top: 10%;
  left: 2%;
}
.ovalButton3 {
  background: #14b1ee;
  color: #fff;
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 75%;
}
.caption {
/* Caption: */
  opacity: 0.87;
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  letter-spacing: 0.4px;
  text-align: left;
  line-height: 16px;
}
.overline {
/* Overline: */
  opacity: 0.87;
  font-family: 'PT Sans', sans-serif;
  font-size: 10px;
  letter-spacing: 1.5px;
  line-height: 16px;
  text-transform: uppercase;
}
.header {
  background-color: #4a90e2;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
}
.header img {
  position: relative;
  left: 3px;
}
.nav {
  padding: 5px;
  border: solid 1px #1d3966;
  display: flex;
  justify-content: space-around;
}
.discover {
  height: 500px;
  background-color: #ffffe0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(13, 1fr);
  position: relative;
}
.discoverImg {
  grid-column: span 11;
  grid-row: span 13;
  position: relative;
}
.discoverImg .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 500px;
  width: 100%;
  z-index: 1;
  opacity: 0.3;
  background-color: #000;
}
.discover h2 {
  margin: 0;
  position: absolute;
  top: 350px;
  left: 400px;
  z-index: 2;
  font-size: 46px;
}
.mentors {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  justify-self: center;
}
.mentors button {
  justify-items: center;
}
.mentorChip img {
  float: left;
}
.mentor-1 {
  background: #ee8914;
}
.mentor-1 button,
.mentor-2 button,
.mentor-3 button {
  position: relative;
  left: 30%;
}
.mentor-2 {
  background: #96ee14;
}
.mentor-3 {
  background: #14b1ee;
}
.title {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #000;
}
.quickTips .tipsContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
}
.footer {
  background-color: footerColor;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 35px 35px 35px;
  align-items: left;
}
.copyright {
  grid-column: 1/-1;
  grid-row: 3/-1;
  align-self: center;
  color: #32cd32;
}
.socialMedia {
  grid-column: 3/-1;
  grid-row: 1/3;
  align-self: center;
}
.nav1 {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  color: #fff;
}
.nav2 {
  grid-column: 1;
  grid-row: 2/3;
  align-self: center;
  color: #fff;
}
@media only screen and (max-width: 600px) {
  .header {
    background-color: #32cd32;
    display: flex;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
  }
}
@media only screen and (max-width: 600px) {
  .header img {
    width: 125px;
    height: 75px;
    position: relative;
    left: 3px;
  }
}
@media only screen and (max-width: 600px) {
  .header h1 {
    font-size: 76px;
    letter-spacing: -1.5px;
    margin-left: 10px;
  }
}
.nav {
  padding: 5px;
  border: solid 1px #1d3966;
  display: flex;
  justify-content: space-around;
}
/*
  
  grid-template-columns: repeat(3, minmax(250px, 1fr));


Examples:
Shorthand 
.container {
    grid: [row1-start] "header header header" 1fr [row1-end]
          [row2-start] "footer footer footer" 25px [row2-end]
          / auto 50px auto;
  }

  equivalent

  .container {
    grid-template-areas: 
      "header header header"
      "footer footer footer";
    grid-template-rows: [row1-start] 1fr [row1-end row2-start] 25px [row2-end];
    grid-template-columns: auto 50px auto;    
  }

   */
