body {
  background-color: #f00;
}
button {
  color: #ffa500;
  background: #808080;
  font-size: 20px;
}
h1,
h2,
h3,
h4,
p,
ul {
  padding-left: 5px;
}
h1 {
  color: #808080;
}
h2 {
  color: #008000;
}
h3 {
  color: #00008b;
}
h4 {
  margin: 0;
  color: #00008b;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 10px;
}
p.strong {
  padding-top: 10px;
  padding-bottom: 5px;
}
.header {
  background-color: #0f0;
  padding: 0;
}
.header h1 {
  margin: 0;
  padding: 0;
}
.header img {
  background-color: #fff;
  position: relative;
  top: 10px;
  left: -560px;
}
.nav {
  margin: 0;
  padding: 20px;
  background-color: #87ceeb;
}
.discover {
  margin: 0;
  padding: 0;
  height: 500px;
  background-image: url("http://localhost:3000/Users/jkit/FullStack_local/websites/careerDay/src/outdoorchallenge-clouds-cloudscape.jpg");
  background-color: #ffffe0;
}
.discoverImg {
  margin: 0;
  padding: 0;
  background-color: #00f;
  background-image: url("http://localhost:3000/Users/jkit/FullStack_local/websites/careerDay/src/outdoorchallenge-clouds-cloudscape.jpg");
}
.discover button {
  position: relative;
  top: 200px;
  left: 510px;
}
.discover h2 {
  font-size: 46px;
  position: relative;
  top: 230px;
  left: 400px;
}
.mentors {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.mentors button {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  left: 150px;
}
.mentor-1 {
  background: #d2b48c;
}
.mentor-2 {
  background: #87ceeb;
}
.mentor-3 {
  background: #d3d3d3;
}
.quickTips {
  text-align: center;
}
.quickTips .tipsContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
}
