.mentors
  padding 0
  margin 0
  display grid
  grid-template-columns: repeat(3, 1fr)

.mentor-1
  background tan

.mentor-2
  background skyblue

.mentor-3
  background lightgrey

.quickTips
  text-align center
  

.quickTips .tipsContent
  display grid
  grid-template-columns 1fr 1fr
  grid-template-rows: repeat(4, auto)

  


button 
  color orange
  background grey
  font-size 20px

h1
  color grey

h2 
  color green 

h3
  color darkblue