body {
  background-color: #e89999;
}
button {
  color: #ffa500;
  background: #808080;
  font-size: 20px;
}
h1,
h2,
h3,
h4,
p,
ul {
  padding-left: 5px;
}
h1 {
  color: #808080;
}
h2 {
  color: #008000;
}
h3 {
  color: #00008b;
}
h4 {
  margin: 0;
  color: #00008b;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 10px;
}
p.strong {
  padding-top: 10px;
  padding-bottom: 5px;
}
.App {
  padding: 0;
  margin: 0;
}
.header {
  background-color: #0f0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
}
.header h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
}
.header h2 {
  margin: 0;
  font-size: 20px;
}
.header img {
  background-color: #00f;
  position: relative;
  left: 10px;
}
.header.nav {
  position: sticky;
  top: 0;
}
.nav {
  margin: 0;
  padding: 5px;
  background-color: #87ceeb;
  display: flex;
  justify-content: space-around;
}
.nav button {
  border: 2px solid #f00;
  border-radius: 25px;
}
.discover {
  margin: 0;
  padding: 0;
  height: 500px;
  background-color: #ffffe0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(13, 1fr);
}
.discoverImg {
  margin: 0;
  padding: 0;
  grid-column: span 11;
  grid-row: span 13;
}
.discoverImg .overlay {
  position: absolute;
  top: 168px;
  height: 500px;
  width: 99%;
  z-index: 1;
  opacity: 0.2;
  background-color: #000;
}
.discover button {
  position: absolute;
  z-index: 2;
  top: 400px;
  left: 510px;
}
.discover h2 {
  margin: 0;
  position: absolute;
  top: 350px;
  left: 400px;
  z-index: 2;
  font-size: 46px;
}
.mentors {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.mentors button {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  left: 150px;
}
.mentor-1 {
  background: #d2b48c;
}
.mentor-2 {
  background: #87ceeb;
}
.mentor-3 {
  background: #d3d3d3;
}
.quickTips {
  text-align: center;
}
.quickTips .tipsContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
}
.footer {
  background-color: #012426;
  height: 1fr;
  width: 100%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-template-rows: repeat(3, 35px);
}
/*
  
  grid-template-columns: repeat(3, minmax(250px, 1fr));


Examples:
Shorthand 
.container {
    grid: [row1-start] "header header header" 1fr [row1-end]
          [row2-start] "footer footer footer" 25px [row2-end]
          / auto 50px auto;
  }

  equivalent

  .container {
    grid-template-areas: 
      "header header header"
      "footer footer footer";
    grid-template-rows: [row1-start] 1fr [row1-end row2-start] 25px [row2-end];
    grid-template-columns: auto 50px auto;    
  }

   */
