// variables
primaryText = darkblue

// basic styling 
button 
  color orange
  background grey
  font-size 20px

h1, h2, h3, h4, p, ul
  padding-left 5px

h1
  color grey

h2 
  color green 

h3
  color primaryText

h4
  margin 0
  color primaryText

p 
  margin 0

ul
  margin 0
  padding-left 10px

p.strong
  padding-top 10px
  padding-bottom 5px
  



// Mentor styling
.mentors
  padding 0
  margin 0
  display grid
  grid-template-columns: repeat(3, 1fr)

.mentors button
  margin-top 10px
  margin-bottom 10px
  position: relative
  left 150px

.mentor-1
  background tan

.mentor-2
  background skyblue

.mentor-3
  background lightgrey

// Discover styles
.discover button
  position: relative
  left 100px

// QuickTips style
.quickTips
  text-align center

.quickTips .tipsContent
  display grid
  grid-template-columns 1fr 1fr
  grid-template-rows: repeat(4, auto)