// Font variables 
sansFont1 = 'PT Sans', sans-serif
serifFont1 = 'PT Serif', serif

sansFont2 = 'Cabin', sans-serif
serifFont2 = 'Lora', serif

Robo1 = 'Roboto', sans-serif



// Site Colors
backgroundColor = #4A90E2
mainFontColor = #FFFFFF
borderColor = #1d3966
borderRadius = 42px


oval1 = #EE8914
oval2 = #96EE14
oval3 = #14B1EE
oval4 = #C814EE
oval5 = #EE1425


// START of CSS for pages
:root
  color mainFontColor
  background backgroundColor
  margin: 0;
  padding: 0;


body
  margin: 0;
  padding: 0;
  font-family: sansFont1;
  /* background-color: aquamarine */
  /* font-family: Comfortaa
	font-size: 14px
	font-style: normal
	font-variant: normal
	font-weight: 500
	line-height: 15.4px */

p
  // font-family: serifFont1
  /* font-style: light; */
  margin 5px

h1
  /* Headline 1: */
  opacity: 0.87;
  font-family: sansFont1;
  font-size: 96px;
  letter-spacing: -1.5px;
  text-align: left;
  margin: 0;
  padding: 0;

h2
  /* Headline 2: */
  opacity: 0.87;
  font-family: sansFont1;
  font-size: 60px;
  letter-spacing: -0.5px;
  text-align: left;
  margin: 0;
  padding: 0;

h3
  /* Headline 3: */
  opacity: 0.87;
  font-family: sansFont1;
  font-size: 48px;
  text-align: left;

h4
  /* Headline 4: */
  opacity: 0.87;
  font-family: sansFont1;
  font-size: 34px;
  letter-spacing: 0.25px;
  text-align: left;
  padding 10px
  margin 0px

h5
  /* Headline 5: */
  opacity: 0.87;
  font-family: sansFont1;
  font-size: 24px;
  padding 5px
  margin 0px
  

h6
  /* Headline 6: */
  opacity: 0.87;
  font-family: sansFont1;
  font-size: 20px;
  letter-spacing: 0.15px;
  padding 2px
  margin 0px

.subtitleOne 
  /* Subtitle 1: */
  opacity: 0.87;
  font-family: sansFont1;
  font-size: 16px;
  letter-spacing: 0.15px;
  text-align: left;
  line-height: 24px;

.subtitleTwo 
  /* Subtitle 2: */
  opacity: 0.87;
  font-family: sansFont1;
  font-size: 14px;
  letter-spacing: 0.1px;
  text-align: left;
  line-height: 24px;


.bodyOne 
  /* Body 1: */
  font-family: sansFont1;
  font-size: 16px;
  letter-spacing: 0.44px;
  text-align: left;
  line-height: 28px;
  padding 0px 5px

.bodyTwo 
  /* Body 2: */
  opacity: 0.87;
  font-family: sansFont1;
  font-size: 14px;
  letter-spacing: 0.25px;
  text-align: left;
  line-height: 20px;

.button
  /* Button: */
  opacity: 0.87;
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  letter-spacing: 0.75px;
  text-transform: uppercase;

button 
  border: 2px solid #1d3966
  border-radius 42px
  color: #D1C8D4
  background-color: backgroundColor
  // text-align: left

  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

button:hover
  background-color borderColor

.styledLink
  border: 2px solid #1d3966
  border-radius 42px
  color: #D1C8D4
  background-color: backgroundColor
  // text-align: left

  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

.styledLink:hover
  background-color borderColor

.ovalButton
  border-radius: 50%
  border none
  width 100px
  height 100px
  margin: 0px;
  padding 5px

.ovalButton1
  background oval1
  color mainFontColor
  position: absolute
  z-index 2
  top 250px
  left 310px

.ovalButton2
  background oval2
  color mainFontColor
  position: absolute
  z-index 2
  top 50px
  left 20px

.ovalButton3
  background oval3
  color mainFontColor
  position: absolute
  z-index 2
  top 150px
  left 700px

.caption
  /* Caption: */
  opacity: 0.87;
  font-family: sansFont1;
  font-size: 12px;
  letter-spacing: 0.4px;
  text-align: left;
  line-height: 16px;

.overline
  /* Overline: */
  opacity: 0.87;
  font-family: sansFont1;
  font-size: 10px;
  letter-spacing: 1.5px;
  line-height: 16px;
  text-transform: uppercase;


// Header
.header 
  background-color backgroundColor
  display grid
  grid-template-columns 1fr 3fr 1fr
  align-items center

.header img
  // what is the position relative too? seems a bit off   
  // background-color blue
  position relative
  // top 10px
  left 3px

.header.nav
  // ISSUE sticky not working
  // position sticky
  // top 0

// Nav
.nav
  padding 5px
  border solid 1px borderColor
  display flex
  justify-content space-around

.nav button
  // border 2px solid borderColor
  // border-radius 25px

// MOVED UP to button class
  // border: 2px solid #1d3966
  // border-radius 42px
  // color: #D1C8D4
  // background-color: backgroundColor
  // text-align: left

  // padding: 5px 32px;
  // text-align: center;
  // text-decoration: none;
  // font-size: 16px;
  // margin: 4px 2px;
  // cursor: pointer;


// MOVED UP under buttons
// .nav button:hover
//   background-color borderColor

// Discover styles
.discover
  height 500px
  background-color lightyellow
  display grid
  grid-gap 10px
  grid-template-columns: repeat(11, 1fr)
  grid-template-rows: repeat(13, 1fr)
  position relative

.discoverImg
  grid-column span 11
  grid-row span 13
  position relative
  // z-index: 2;
  // background-color grey
  // background-image: url('http://localhost:3000/Users/jkit/FullStack_local/websites/careerDay/src/outdoorchallenge-clouds-cloudscape.jpg')

.discoverImg .overlay
  // position relative
  // top 0
  // left 0
  position absolute
  top 0px
  left 0px
  right 0px
  bottom 0px
  height 500px
  width 100%
  z-index 1
  opacity 0.3
  background-color black

// .discoverImg img
//   position: fixed; /* Sit on top of the page content */
//   display: none; /* Hidden by default */
//   width: 100%; /* Full width (cover the whole page) */
//   height: 100%; /* Full height (cover the whole page) */
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: rgba(0,0,0,0.5); /* Black background with opacity */
//   z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
//   cursor: pointer; /* Add a pointer on hover */

// MOVED UP under .ovalbuttonX
// .discover button
//   position: absolute
//   z-index 2
//   top 400px
//   left 510px
  // ISSUE grid works, but it pushes the image down, and does not overlay it
  // grid-column 5 / 8
  // grid-row 6 / 7

.discover h2
  // ISSUE FOUND its here
  // margin to fix the issue
  margin 0
  position absolute
  top 350px
  left 400px
  // ISSUE when using grid no where to be found
  // grid-column 5 / 8 
  // grid-row 3 / 6
  z-index 2
  
  font-size 46px


// Mentor styling
.mentors
  padding 0
  margin 0
  display grid
  grid-template-columns: repeat(3, 1fr)
  position relative
  justify-self center

.mentors button
  justify-items center
//   margin-top 10px
//   margin-bottom 10px
//   position: relative
//   left 150px

.mentorChip img 
  float left
  // position relative

.mentor-1
  background oval1

  // position relative
  // margin-top 10px
  // margin-bottom 10px

.mentor-1 button, 
.mentor-2 button, 
.mentor-3 button 
  position relative
  left 30%

.mentor-2
  background oval2
  // margin-top 10px
  // margin-bottom 10px


.mentor-3
  background oval3
  // margin-top 10px
  // margin-bottom 10px

// QuickTips style
.quickTips
  // text-align center

.title
  text-align center
  text-decoration: underline
  text-decoration-color: black

.quickTips .tipsContent
  display grid
  grid-template-columns 1fr 1fr
  grid-template-rows: repeat(4, auto)

// Footer styles
.footer
  background-color footerColor
  // height auto
  // width 100%
  display grid
  grid-gap 5px
  grid-template-columns 1fr 1fr 1fr//repeat(3, minmax(250px, 1fr))
  grid-template-rows 35px 35px 35px//repeat(3, 35px)
  // justify-items: left;
  // justify-content: left;
  align-items: left; 
  // place-items: stretch stretch;
  // justify-content: space-between;
  // align-content: space-between; 

  grid-template-areas: 
    "links blank social"
    "links blank social"
    "copy copy copy"

.copyright
  grid-column 1 / -1
  grid-row 3 / -1
  // grid-area links
  align-self: center
  color limegreen

  // grid-column copy-start / copy-end
  // justify-items: center
  // align-items: center

.socialMedia
  grid-column 3 / -1
  grid-row 1 / 3
  align-self center
  // grid-area social

.nav1
  grid-column 1
  grid-row 1 
  // grid-area links
  align-self: center
  color mainFontColor

.nav2
  grid-column 1
  grid-row 2 / 3
  align-self center
  color mainFontColor 


// RESPONSIVE

// Header
.header 
  @media only screen and (max-width: 600px)
    background-color limegreen
    display flex
    grid-template-columns 1fr 3fr 1fr
    align-items center

.header img
  // what is the position relative too? seems a bit off   
  // background-color blue
  @media only screen and (max-width: 600px)
    width 125px
    height 75px
    position relative
    // top 10px
    left 3px

.header h1
  @media only screen and (max-width: 600px)
    font-size: 76px;
    letter-spacing: -1.5px;
    // text-align: center;
    margin-left 10px
  
// Nav
.nav
  padding 5px
  border solid 1px borderColor
  display flex
  justify-content space-around



//.footer .copy
  // ISSUE: when trying to add to copy grid-area an extra col and row appear and it does not fit on the designated area.
  // grid-area copy
/*
  
  grid-template-columns: repeat(3, minmax(250px, 1fr));


Examples:
Shorthand 
.container {
    grid: [row1-start] "header header header" 1fr [row1-end]
          [row2-start] "footer footer footer" 25px [row2-end]
          / auto 50px auto;
  }

  equivalent

  .container {
    grid-template-areas: 
      "header header header"
      "footer footer footer";
    grid-template-rows: [row1-start] 1fr [row1-end row2-start] 25px [row2-end];
    grid-template-columns: auto 50px auto;    
  }

   */